<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 text-center">
        <i class="material-icons">credit_card</i>
        <h5>Pagá con tarjeta de crédito o efectivo</h5>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
      </div>
      <div class="col-12 col-lg-4 text-center">
        <i class="material-icons">redeem</i>
        <h5>Envío gratis desde $ 1.999</h5>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es  un beneficio de Mercado Puntos.</p>
      </div>
      <div class="col-12 col-lg-4 text-center">
        <i class="material-icons">security</i>
        <h5>Seguridad, de principio a fin</h5>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
      </div>
    </div>
  </div>
  <div class="disclaimer">
    <div class="container">
    	<div class="row">
    	  <div class="col-12">
    	    <small>Desarrollado por <em><a href="http://janioisacura.com">Janio Isacura</a></em></small>
    	  </div>
    	</div>
    </div>
  </div>
</footer>