//Custom variables and definitions must go before bootstrap-sass stylesheets
// --------------------------------------------------
@import "variables";
@import "mixins";
@import "fontface"; // @import "emoji";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
 // --------------------------------------------------

html,body {
  width: 100%;
  height: 100%;
}
body {
  font-family: $font;
  font-size: 14px;
  background-color: $gray-100;
  color: $gray-800;
  &.detail {
    margin-top: 8rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
}

.hover,
a,
button,
i {
  @include transition(all .5s ease);

  &:focus,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}
//material icons customization

.material-icons {
  font-size: 1.1rem;
  position: relative;
  top: .15rem;
}

//Bootstrap customization
.input-group-append,
.input-group-preppend {
  .fa {
    padding-top: 10px;
  }
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.navbar {
  @extend .navbar-expand-lg;
  @extend .fixed-top;
  @extend .navbar-light;
  @extend .bg-sunflower;
  @extend .mb-4;
  .navbar-top {
    @extend .d-flex;
    @extend .w-100;
    .navbar-nav.right {
      @extend .ml-auto;
    }
  }
  .navbar-bottom {
    @extend .w-100;
  }
  .navbar-nav {
    .right {
      @include media-breakpoint-up(xs) {
        margin: 0 auto 0 auto;
      }
     @include media-breakpoint-up(lg) {
       margin: 0 0 0 auto;
     }
    }
  }
  .navbar-brand {
    img {
      height: 30px;
    }
  }
  .search {
    .form-control {
      border: none;
    }
    .btn {
      padding: 1px;
      background-color: $white;
      border: none;
      i {
        color: $gray-800;
        border-left: 1px solid $gray;
        padding: 0 12px;
      }
      &:active {
        background-color: $sunflower;
        i {
          color: $gray;
        }
      }
    }
  }
}

.input-group {
  i {
    color: $white;
  }
}

.banner {
  width: 100%;
  margin-bottom: 3rem;
  display: block;
  img {
    width: 100%;
  }
  @include media-breakpoint-up(xs) {
    margin-top: 135.641px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: calc(95.64px);
  }
}

.card-container {
  @extend .col-12;
  @extend .col-md-6;
  @extend .col-lg-3;
  min-height: calc(#{$card-end-height} + 3rem);
}

.card {
  @include border-radius(0);
  @extend .p-0;
  &.product {
    overflow:hidden;
    transition: all 0.3s ease-out;
    height:auto;
    max-height: $card-start-height;
    margin-bottom: 2rem;
    color: $gray-600;
    &.hover {
      max-height: $card-end-height;
    }
    .card-img {
      @include background(initial, no-repeat, contain);
      @include border-radius(0);
      height: 240px;
      margin: 10px;
    }
    .card-body {
      position: relative;
      border-top: 1px solid $gray;
      padding: 1.15rem;
      .shipping {
        @include rotate(0);
        @include border-radius(50%);
        position: absolute;
        top: -23px;
        right: 10px;
        padding: 12px;
        background-color: $white;
        border: 1px solid $gray;
        color: $success;
      }
      p {
        margin: 0;
        font-size: .8rem;
      }
    }

    .card-title {
      text-transform: uppercase;
      small {
        font-size: .9rem;
      }
    }
    &:hover {
      .shipping {
        @include rotate(360);
      }
    }
  }
}

/*====== Product Detail ======*/
.product-detail {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  .product-detail-img {
    width: 70%;
    display: block;
    margin: auto;
  }
  .product-detail-info {
    border-left: 1px solid var(--light-gray);
    padding: 15px;
    height: 100%;
  }
  .product-detail-description {
    padding: 15px;
    line-height: 1.5;
  }
  .product-detail-price {
    margin: 10px 0;
  }
  .discount {
    color: $success;
    span {
      text-decoration: line-through;
    }
  }
  
  .actions-list {
    @extend .list-unstyled;
    li {
      display: flex;
      align-items: center;
      padding: 20px 0;
    }
    i {
      color: $success;
      font-size: 2em;
      margin-right: 15px;
    }
    p {
      color: $black;
      margin: 0;
    }
  }
}

footer {
  background-color: $white;
  position: relative;
  padding: 2rem 0 5rem 0;
  margin-top: 3rem;
  .material-icons {
    font-size: 3rem;
    color: $primary;
    padding: 1rem 0;
  }
  h5 {
    font-family: $font-semibold;
  }
  .disclaimer {
    color: $white;
    background-color: $gray-900;
    width: 100%;
    padding: 1rem;
    text-align: right;
    position: absolute;
    bottom: 0;
    a {
      color: $white;
    }
  }
}
