<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <!-- navbar header -->
  <%- include('../partials/header') %>
  <!-- /.navbar header -->

  <!-- home content -->
  <div class="container">
    <div class="row">
      <h6 class="text-pink p-2">USERS PAGE</h6>
    </div>
  </div>
  <!-- /.home content -->

  <%- include('../partials/scripts') %>
</body>

</html>